@RenderBody()
<!DOCTYPE html>
<html>
<head>
    <title>@Model.Name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg4everybody/2.1.9/svg4everybody.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/lib/comet/comet.css">
    <script src="~/lib/comet/comet.js"></script>
</head>
<body class="comet-page-shell--body-background">
<div class="comet-page-shell">
    @{
        string shellClass = "";
        string style = "";
        if (Model.Navbar == true)
        {
            shellClass = "comet-page-shell__product-well";
        }
        else
        {
            shellClass = "comet-page-shell";
            style = "background-color: white";
        }
    }
    <div id="comet-page-shell__global-nav-bar" style="@style" class="@shellClass">
        <div class="comet-page-shell__product-well-inner">
            <div class="comet-product-bar js-comet-product-bar comet-product-bar--theme-product-science comet-product-bar__search-revealed-static">
                <button class="comet-button comet-product-bar__product-title comet-dropdown-trigger js-comet-dropdown-trigger" data-comet-popover='navigation' haspopup='true'>
                    <svg class="comet-product-bar__product-title-icon" aria-hidden="true" focusable="false">
                        <use xlink:href="@Url.Content("~/lib/comet/comet.svg")#home"></use>
                    </svg>
                    <span class="comet-screenreader-only">Home</span>
                </button>
                <div class="comet-dropdown-menu comet-popover comet-popover--bottom-left-aligned" id="navigation" data-comet-popover-align="left">
                    <div class="comet-list-group comet-dropdown-menu__list-group comet-list-group--no-hairlines">
                        <ul class="comet-list-group__list">
                            <li class="comet-list-group__row">
                                <a class="comet-list-group__row-anchor" href="/">
                                    <span class="comet-list-group__row-label">
                                        Home
                                    </span>
                                </a>
                            </li>
                            <li class="comet-list-group__row">
                                <a class="comet-list-group__row-anchor" href="/chatroom">
                                    <span class="comet-list-group__row-label">
                                        Chatroom
                                    </span>
                                </a>
                            </li>
                            <li class="comet-list-group__row">
                                <a class="comet-list-group__row-anchor" href="/about">
                                    <span class="comet-list-group__row-label">
                                        About
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                @RenderSection("product", required: false)
                <ul class="comet-product-bar__actions">
                    @Html.Partial("Account")
                    @if (Model.Sidebar)
                    {
                        <li class="comet-product-bar__action comet-product-bar__action--quicklist">
                            <a class="comet-button comet-product-bar__action-link comet-button--small js-comet-product-bar__toggle-panel" role="button" href="#path-to-quicklist">
                                <svg class="comet-product-bar__action-icon comet-button--icon__icon" aria-hidden="true" focusable="false">
                                    <use xlink:href="@Url.Content("~/lib/comet/comet.svg")#bookmark"></use>
                                </svg>
                                <span class='comet-screenreader-only'>Quicklist</span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            @RenderSection("Content")
        </div>
        @if (Model.Navbar == true)
        {
            <div class="comet-page-shell__product-well-overlay js-comet-page-shell__product-well-overlay">
                <div class="comet-page-shell__close-global-nav-bar-wrap">
                    <a href="#comet-page-shell__product-well" class="comet-page-shell__close-global-nav-bar js-comet-page-shell__close-global-nav-bar">
                        <span class="comet-screenreader-only">Jump to page content</span>
                        <svg class="comet-page-shell__close-global-nav-bar-icon" aria-hidden="true" focusable="false">
                            <use xlink:href="@Url.Content("~/lib/comet/comet.svg")#x"></use>
                        </svg>
                    </a>
                </div>
            </div>
        }
    </div>
    @if (Model.Navbar == true)
    {
        <div class="comet-page-shell__global-nav-bar js-comet-page-shell__global-nav-bar">
            <div class="comet-page-shell__global-nav-bar-touch-overlay js-comet-page-shell_global-nav-bar-touch-overlay"></div>
            @RenderSection("navbar", required: false)
        </div>
    }
    @if (Model.Sidebar == true)
    {
        <div class="comet-page-shell__panel">
            <div class="comet-page-shell__panel-content">
                <div class="comet-page-shell__close-panel-wrap">
                    <a href="#comet-page-shell__product-well" class="comet-page-shell__close-panel js-comet-page-shell__close-panel">
                        <span class="comet-screenreader-only">Jump to page content</span>
                        <svg class="comet-page-shell__close-panel-icon" aria-hidden="true" focusable="false">
                            <use xlink:href="@Url.Content("~/lib/comet/comet.svg")#x"></use>
                        </svg>
                    </a>
                </div>
                @RenderSection("sidebar", required: false)
            </div>
        </div>
    }
</div>
</body>
</html>